body{
    background-color: #e0fbfc
}

h1{
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #293241;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.block{
    width: 500px;
    height: 500px;
    background-color: #e0fbfc;
    position: relative;
    border: 5px solid #ee6c4d;
    border-radius: 50px;
    margin-bottom: 1%;
}

.photo{
width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    flex: 1 100px;
}

.profile{
    margin: 10%;
    width: 50%;
    border-radius: 50%;
    border: 2px solid #000;
}

.about{
 margin: 0 auto;
    width: 90%;

}
.titletext{
    font-family: 'Roboto', 'sans-serif';
    background-color: #A2FFA4;
    padding: 3px;
    border-radius: 20px;
    border: 2px solid #ee6c4d;
}

.flex-contaner{
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    width: 1390px;
    height: 1060px;
    background-color: DodgerBlue;
    border: 5px solid #FE9800;
    border-radius: 50px;
    position: relative;

}


.blockLeft{
display: flex;
flex-direction: row;
flex-wrap: wrap;
min-width: 69%;
min-height: 99%;
}

.blockRight{
display: flex;
flex-direction: row;
flex-wrap: wrap;
min-width: 28%;
min-height: 99%;

}


.blockOne, .blockOneHeight, .blockHalf, .blockHeight{
display: flex;
justify-content: flex-start;
background-color: #f1f1f1;
border-radius: 50px;
margin: 10px;
overflow: hidden;
}


.blockOne{
display: flex;
min-width: 97%;
height: 31%;
}

.blockOne img{
width: 100%;
height: auto;
object-fit: cover;
flex-shrink: 0;
}

.blockOneHeight{
display: flex;
max-width: 97%;
height: 31%;
}

.blockOneHeight img{
width: 100%;
height: auto;
object-fit: scale-down;
flex-shrink: 0;

}

.blockHalf{
display: flex;
max-width: 47.5%;
height: 31%;
}

.blockHalf img{
    width: 100%;
    height: auto;
    object-fit: scale-down;

}

.blockHeight{
display: flex;
min-width: 95%;
height: 65%;
}

.blockHeight img{
    width: 100%;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;

}


