body{
    background-color: #e0fbfc
}

h1{
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #293241;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.block{
    width: 500px;
    height: 500px;
    background-color: #e0fbfc;
    position: relative;
    border: 5px solid #ee6c4d;
    border-radius: 50px;
    margin-bottom: 1%;
}

.photo{
width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    flex: 1 100px;
}

.profile{
    margin: 10%;
    width: 50%;
    border-radius: 50%;
    border: 2px solid #000;
}

.about{
 margin: 0 auto;
    width: 90%;

}
.titletext{
    font-family: 'Roboto', 'sans-serif';
    background-color: #A2FFA4;
    padding: 3px;
    border-radius: 20px;
    border: 2px solid #ee6c4d;
}

.flex-contaner{
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    width: 1390px;
    height: 1060px;
    left: 78px;
    top: 630px;
    background-color: #e0fbfc;
    border: 5px solid #FE9800;
    border-radius: 50px;
    text-align: center;
}

